.wrapper{
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
}

.intro{
    width : 41ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: "Cascadia Code", sans-serif;
    font-size: 1.5em;
    color: #f7f7f7;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}